---
title: "Practice Activity: kNN and Decision Trees"
author: "Chloe Feehan"
format: 
  html:
    code-fold: true
    embed-resources: true
    toc: true
theme: flatly
---

In [2]:
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.compose import make_column_selector, ColumnTransformer
from palmerpenguins import load_penguins
from sklearn.preprocessing import StandardScaler, OneHotEncoder, PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from plotnine import *

# Palmer Penguins Modeling
Import the Palmer Penguins dataset and print out the first few rows.

Suppose we want to predict species using the other variables in the dataset.

Dummify all variables that require this.

In [3]:
penguins = load_penguins()
penguins = penguins.dropna()
penguins.head()

  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g     sex  year
0  Adelie  Torgersen            39.1           18.7              181.0       3750.0    male  2007
1  Adelie  Torgersen            39.5           17.4              186.0       3800.0  female  2007
2  Adelie  Torgersen            40.3           18.0              195.0       3250.0  female  2007
4  Adelie  Torgersen            36.7           19.3              193.0       3450.0  female  2007
5  Adelie  Torgersen            39.3           20.6              190.0       3650.0    male  2007

In [4]:
ct = ColumnTransformer([("dummify", OneHotEncoder(sparse_output = False, handle_unknown='ignore'),
                                        make_column_selector(dtype_include=object))
                            ],
                                        remainder = "passthrough")

penguins_pipeline = Pipeline([
        ("preprocessing", ct)
    ])

X = penguins.drop(["bill_depth_mm"], axis = 1)
y = penguins["bill_depth_mm"]

penguins_pipeline.fit(X)

transformed_x = penguins_pipeline.named_steps["preprocessing"].transform(X)
transformed_df = pd.DataFrame(transformed_x, columns=penguins_pipeline.named_steps["preprocessing"].get_feature_names_out())
transformed_df

     dummify__species_Adelie  dummify__species_Chinstrap  dummify__species_Gentoo  ...  remainder__flipper_length_mm  remainder__body_mass_g  remainder__year
0                        1.0                         0.0                      0.0  ...                         181.0                  3750.0           2007.0
1                        1.0                         0.0                      0.0  ...                         186.0                  3800.0           2007.0
2                        1.0                         0.0                      0.0  ...                         195.0                  3250.0           2007.0
3                        1.0                         0.0                      0.0  ...                         193.0                  3450.0           2007.0
4                        1.0                         0.0                      0.0  ...                         190.0                  3650.0           2007.0
..                       ...                         ...                      ...  ...                           ...                     ...              ...
328                      0.0                         1.0                      0.0  ...                         207.0                  4000.0           2009.0
329                      0.0                         1.0                      0.0  ...                         202.0                  3400.0           2009.0
330                      0.0                         1.0                      0.0  ...                         193.0                  3775.0           2009.0
331                      0.0                         1.0                      0.0  ...                         210.0                  4100.0           2009.0
332                      0.0                         1.0                      0.0  ...                         198.0                  3775.0           2009.0

[333 rows x 12 columns]

Let's use the other variables to predict species. Prepare your data and fit the following models on the entire dataset:

* Two kNN models (for different values of K)
* Two decision tree models (for different complexities of trees)